html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    font-size: 62.5%;
  }

  body{
    font-size: 1.6rem;
    height: auto;
  }

  img {
    max-width: 100%;
  }
  
  .logo-img{
    width:18rem;
    padding-left: 2rem;
    padding-top: 1rem;
    height: 5rem;
    display: flex;
    margin: 0;
  }

  .nav{
    background-color:#ffffff;
    display: flex;
    height: 3rem; 
    justify-content: space-around;   
  }
  
  .nav-flex-container{
    display: flex;
    flex-direction: row;
    font-size: 3rem;;
    margin:0;
    list-style: none;
    padding: 0;
    justify-content: space-around;
  }
  .nav-flex-item{
    margin-top: 5px;
    margin-left: 4rem;
  
  }
  .nav-flex-item-a{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content: space-around;
  }
  .nav-flex-item-a-bi{
    display: flex;
    flex-direction: row-reverse;
  }
  .nav-flex-item-person{
    margin:0rem;
  }
 
  .letra{
    margin-top: 1rem;
  }
  .vertical{
    border-left: 2.5px solid #eaeaea;
    height: 4rem;
    margin-top: 2rem;
    margin-left: 5px    ;
  }
 .person {
    font-size: 5rem;
  }
 .search{
    font-size: 5rem;
    
  }

  .img1{
    height: auto;
    margin-top: 3rem;
    width: 127rem;
    display: flex;
    justify-content: space-around;
  }

  .options1{
    display: flex ;
    font-size: 1rem;
    list-style: none;
    justify-content: space-around;
  }
  .option{
    margin: 3rem;
    width: 11rem;;
    height: 11rem;
   
  }
  .subtitulo h1{
    display: flex;
    font-size: 4rem;;
    margin:3rem;
    justify-content: center;
    color: #333333;
  }

  .container2{
    display: flex;
    padding-top: 0rem;
  
    
  }

  .camaras{
    display: flex;
    margin: 0rem;
    padding-right: 0rem;
    border-right: 1rem;
    width: 160rem;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .cam{
    width: 25rem;
    margin-left: 5rem;
    justify-content: space-around;
    
  }

  .text{
    display: flex;
    font-size: 3rem;
    margin-right: 3rem;
    flex-direction: row-reverse;
  }
  .text h2{
    color: #2b67aa;
  }
  .arrow{
    font-size: 3rem;
    margin-right: 3rem;
  }

  .news1{
    display: flex;
    padding-left: 1rem;
    justify-content: space-around;
    margin-bottom: 2rem;
   
  }

  .container3{
    padding-left: 2rem;
    margin: 0rem;
  }

  .new1{
    display: flex;
    width: 80rem;
  }

  .new2{
    display: flex;
    flex-direction: row;
    width: 35rem;
    height: 35rem;
    margin-left: 1rem;
  }

  .news2{
    display: flex;
    padding-left: 3rem;
    
  }

  .new3{
    display: flex;
    width: 38rem;
  }
  .new4{
    display: flex;
    width: 38rem;
    margin-left: 4rem;
  }
  .new5{
    display: flex;
    flex-direction: row;
    width: 35rem;
    height: 35rem;
    margin-left: 5rem;
  }

.card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: calc(37rem - 10rem);
  box-shadow: .1rem .2rem .3rem .1rem #505050;
  
}
.card h3 {
  font-size: 1.6rem;
  margin: 0;
}

.card p {
  font-size: 1.5rem;
  color: rgb(1, 1, 1, .5);
}

.card input{
  display: block;
}

.options{
    display: flex;
    font-size: 3rem;
    justify-content:space-around;
    margin:2rem;
}

.container4{
    max-width: 1200px;
    margin:0  auto;
    height: auto;
}

.footer{
    padding: 1rem 0 5rem 0;
    background-color: #505050;
    margin-top: 10rem;
    font-size: 13rem;

}

.footer-titulo{
    display: flex;
    flex-direction: row;
    list-style: none;
    color: white;
    justify-content: space-between;
}

.footer-link{
    display: flex;
}
.link{
    width: 30rem;
    font-size: 5rem;
 
}
.link a{
    display: flex;
    list-style: none;
    text-decoration: none;
}

.Contact{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    font-size: 5rem;
    text-align: center;
    list-style: none;
    border-radius: 10%;
    border: #505050;
}

hr{
    display: flex;
    border: 1px solid #747474;
    width: 120rem;
}

.footer-copyright{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    font-size: 3rem;
    width: auto;
    list-style: none;
    color: white;
}

.footer-copyright a{
    display: flex;
    justify-content: space-around;
    width: 15rem;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}









