html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    font-size: 62.5%;
  }

  body{
    font-size: 1.6rem;
    height: 600rem;
  }
  
  .logo-img{
    width:18rem;
    padding-left: 2rem;
    padding-top: 1rem;
    height: 5rem;
    display: flex;
    margin: 0;
  }

  .nav{
    background-color:#ffffff;
    display: flex;
    height: 3rem; 
    justify-content: space-around;   
  }
  
  .nav-flex-container{
    display: flex;
    flex-direction: row;
    font-size: 3rem;;
    margin:0;
    list-style: none;
    padding: 0;
    justify-content: space-around;
  }
  .nav-flex-item{
    margin-top: 5px;
    margin-left: 4rem;
  
  }
  .nav-flex-item-a{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content: space-around;
  }
  .nav-flex-item-a-bi{
    display: flex;
    flex-direction: row-reverse;
  }
  .nav-flex-item-person{
    margin:0rem;
  }
  .world{
    font-size: 2rem;
    
  }
  .vertical{
    border-left: 2.5px solid #eaeaea;
    height: 4rem;
    margin-top: 2rem;
    margin-left: 5px    ;
  }
 .person {
    font-size: 5rem;
  }
 .search{
    font-size: 5rem;
    
  }

  .img1{
    height: auto;
    margin-top: 3rem;
    width: 127rem;
    display: flex;
    justify-content: space-around;
  }

  .options{
    display: flex ;
    font-size: 1rem;
    list-style: none;
    justify-content: space-around;
  }
  .option{
    margin: 3rem;
    width: 11rem;;
    height: 11rem;
   
  }
  .subtitulo h1{
    display: flex;
    font-size: 4rem;;
    margin:3rem;
    justify-content: center;
    color: #333333;
  }

  .container2{
    display: flex;
    padding-top: 0rem;
  
    
  }

  .camaras{
    display: flex;
    margin: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    padding-right: 0rem;
    border-right: 3rem;

  }
  
  .cam{
    width: 25rem;
    margin-left: 5rem;
    justify-content: space-around;
    
  }

  .text{
    display: flex;
    font-size: 3rem;
    margin-right: 3rem;
    flex-direction: row-reverse;
  }
  .text h2{
    color: #2b67aa;
  }
  .arrow{
    font-size: 3rem;
    margin-right: 3rem;
  }

  .news1{
    display: flex;
    padding-left: 1rem;
    justify-content: space-around;
    margin-bottom: 2rem;
   
  }

  .container3{
    padding-left: 2rem;
    margin: 0rem;
  }

  .new1{
    display: flex;
    width: 80rem;
  }

  .new2{
    display: flex;
    flex-direction: row;
    width: 35rem;
    height: 35rem;
    margin-left: 1rem;
  }

  .news2{
    display: flex;
    padding-left: 3rem;
    
  }

  .new3{
    display: flex;
    width: 38rem;
  }
  .new4{
    display: flex;
    width: 38rem;
    margin-left: 4rem;
  }
  .new5{
    display: flex;
    flex-direction: row;
    width: 35rem;
    height: 35rem;
    margin-left: 5rem;
  }

