html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    font-size: 62.5%;
  }

  body{
    font-size: 1.6rem;
    height: 600rem;
  }
  
  .logo-img{
    width:22rem;
    padding-left: 4rem;
    padding-top: 2rem;
    height: 7rem;
    display: flex;
    margin: 0;
  }

  .nav{
    background-color:#ffffff;
    display: flex;
    height:8rem; 
    justify-content: space-around;   
  }
  
  .nav-flex-container{
    display: flex;
    flex-direction: row;
    font-size: 4rem;
    margin:0;
    list-style: none;
    padding: 0;
    justify-content: space-around;
  }
  .nav-flex-item{
    margin: 2rem;
  
  }
  .nav-flex-item-a{
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 2rem;
    justify-content: space-around;
  }
  .bi{
    display: flex;
    flex-direction: row-reverse;
  }
  .nav-flex-item-person{
    margin:0rem;
  }
  .world{
    font-size: 2rem;
    
  }
  .vertical{
    border-left: 2.5px solid #eaeaea;
    height: 4rem;
    margin-top: 3rem;
    margin-left: 5px    ;
  }
 .person {
    font-size: 5rem;
  }
 .search{
    font-size: 5rem;
  }

  .img1{
    height: auto;
    width: 128rem;
    display: flex;
    justify-content: space-around;
  }

  .options{
    display: flex ;
    font-size: 3rem;
    list-style: none;
    justify-content: space-around;
  }
  .option{
    margin: 3rem;
    width: 11rem;;
    height: 11rem;
   
  }
